@darkCyan:hsl(185, 75%, 39%);
@veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
@darkGrayishBlue: hsl(227, 10%, 46%);
@darkGray: hsl(0, 0%, 59%);

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    
    background-color: @darkCyan;
    
}
.profile-card__container{    
    background-color: white;
    text-align: center;    
    position: relative;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
    width: 260px;
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    @media (min-width: 360px){
        width: 325px;
    }      
    .user__name-age{
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        font-size: 18px;
        color: @veryDarkDesaturatedBlue;
        span{
            font-weight: 400;
            color: @darkGray;
        }
    }
    .user__location{
        position: absolute;
        top: 64%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 14px;
        font-weight: 400;
        color: @darkGray;
    }
    .break-line{
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        border-color: @darkGrayishBlue;
    }
}

.features__container{
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    
    .feature__container{
        flex-grow: 1;        
        flex-basis: 25%;
        margin-bottom: 1rem;
        justify-content: space-evenly;
        
        .feature__ammount{
            font-weight: 700;
            font-size: 17px;
            color: @veryDarkDesaturatedBlue;
        }
        .feature__description{
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 2px;
            color: @darkGrayishBlue;
        }
    }
}

.user-background-photo{
    position: absolute;
    background-image: url(../images/bg-pattern-card.svg);
    height: 38%;
    width: 100%;
    background-color: @darkCyan;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.user__photo img{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 100px;
    border: 4px solid white;
    background-color: white;
    
}